{% extends 'base.html' %}

{% block main %}
        <div class="row">
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              Ola {{ usuario.colaborador.nome }}
                <a href="{% url 'listar_colaboradores' %}">Gerenciar Colaboradores</a>
            </div>
            <div class="col-sm">
              <a href="{% url 'logout' %}">Logout</a>

                {% if usuario.colaborador.empresa %}
                    <a href="{% url 'editar_empresa' usuario.colaborador.empresa.id %}">Editar Empresa</a>
                {% else %}
                    <a href="{% url 'criar_empresa' %}">Criar Empresa</a>
                {% endif %}
            </div>
        </div>
{% endblock %}
